<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="<%= new_category_path %>">New Category</a>
    </div>
  </div>
</nav>